.calc-body {
  background-color: white;
  width: 500px;
  text-align: center;
  display: inline-block;
  margin-left: 33.333%;
  margin-top: 50px;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-image: linear-gradient(red, orange);
  border-color: black;
  border-radius: 5px;
  
}

.clear {
  width: 100%
}